* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
.container {
   width: 1140px;
   max-width: 90%;
   margin: 0 auto;
}
.btn {
   padding: 10px 20px;
   border: none;
   margin-top: 20px;
   font-size: 18px;
   border-radius: 6px;
   transition: all 0.3s;
   cursor: pointer;
   margin-right: 10px;
}

.btn.btn-primary {
   background-color: rgb(9, 2, 114);
   color: #fff;
}

.btn.btn-primary:hover {
   background-color: rgb(97, 1, 112);
}
.btn.btn-danger {
   background-color: rgb(168, 3, 44);
   color: #fff;
}
.btn.btn-danger:hover {
   background-color: rgb(134, 3, 36);
}
